version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: telegram-news-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: telegram_news
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./internal/storage/migrations:/docker-entrypoint-initdb.d  # <-- ИЗМЕНИТЕ ЭТУ СТРОКУ
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: